
/* Cart*/
.cart-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart{
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 4%;
  }

.cart h1 {
	font-size: 1.1rem;
	margin-top: 30px;
}

.cart h2 {
	font-size: 0.9rem;
	margin-top: 30px;
}


.checkout {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#instructions {
	color: #a6a2a2;
}

.pricing {
	width: 400px;
	margin-top: 4%;
	text-align: left;
}

.pricing p {
	margin: 0 auto;
	padding: 2px;
	font-size: 0.7rem;
	font-family: Arial, Helvetica, sans-serif;
}

.align-button {
	margin-top: 6%;
	display: flex;
	width: 400px;
	justify-content: center;
	gap: 20px;
}

.checkout button {
	font-size: 0.8rem;
	height: 40px;
	background-color: #FFBB5C;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 2% 4%;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

.checkout button:hover {
	background-color: #FF9B50;
}

/* Cart Item*/
.cartItem {
	width: 450px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4% 0;
	border-bottom: 1px solid lightgray;
}

.cartItem img {
	width: 90px;
	border-radius: 10px;
}

.cartItem h3, p, input{
	font-size: 0.8rem;
}

.table {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.countHandler {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
}

.countHandler input {
	width: 30px;
	text-align: center;
	border: none;
}

.countHandler button {
	color: #FFBB5C;
	font-size: 1.2rem;
	border: none;
	padding: 0 10%;
	cursor: pointer;
	background-color: #FCF5ED;
	border-radius: 50px;
}

@media (max-width: 600px) {
	.cart{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 4%;
	  }

	  .cartItem {
		width: 90%;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 4% 4%;
		border-bottom: 1px solid lightgray;
	}

	.cartItem img {
		width: 70px;
		border-radius: 10px;
	}
	
	.cartItem h3, p, input{
		font-size: 0.6rem;
	}

	.countHandler {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
	}
	
	.countHandler input {
		width: 30px;
		text-align: center;
		border: none;
	}

	.table {
		margin: 3%;
		text-align: center;
	}

	.checkout {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.pricing {
		width: 80%;
		margin-top: 4%;
		text-align: left;
	}

	.checkout button {
		font-size: 0.6rem;
		height: 40px;
	}
}





