.footer-container {
    margin-top: 5%;
    border-top: 2px dashed #FF9B50;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-container {
    width: 100%;
    height: auto;
    padding: 2% 10%;
    background-color: #FCF5ED;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
}

.review-card {
    width: 25%;
    height: auto;
    border-radius: 10px;
}

.review-card p {
    font-size: 0.7rem;
    text-align: justify;
}

.location-container {
    width: 100%;
    height: auto;
    padding: 2% 10%;
    background-color: rgb(255, 187, 92, 0.3);
    display: flex;
    flex-direction: column;
}

.location-container h3 {
    background-color: #FF9B50;
    color: white;
    border: 2px solid #FFBB5C;
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2% auto;
    box-shadow: 10px 10px lightblue;
}

.location-data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 2% 0;
}

.location-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FCF5ED;
    border: 1px solid #FFBB5C;
    padding: 3% 6%;
    margin: 2% 0;
    border-radius: 10px;
    box-shadow: 10px 10px lightblue;
}

#card-title {
    font-size: 0.7rem;
    font-weight: 600;
}

.location-card p {
    margin: 3% auto;
    font-size: 0.7rem;
    font-weight: light;
}

.contact-container {
    width: 100%;
    height: auto;
    padding: 5% 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

.faq-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: sans-serif;
}

.faq-col p {
    font-size: 0.6rem;
    font-weight: bold;
}

.faq-col a{
    text-decoration: none;
    font-size: 0.6rem;
    padding: 1% 0;
    margin: 3% 0;
    color: black;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1% auto;
    border-top: 2px solid #FFBB5C;
}

.bar-left {
    width: 50%;
    padding-left: 10px;
}

.bar-left p {
    font-size: 0.6rem;
}

.social-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-links a {
    margin: 2%;
}

.social-img {
    width: 20px;
}

@media (max-width: 600px) {
    .review-card p {
        font-size: 0;
    }

    .location-data {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .location-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        text-align: left;
    }

    #card-title {
        font-size: 0.7rem;
        font-weight: 600;
    }

    .location-container h3 {
        font-size: 1rem;
    }

    .location-card p{
        font-size: 0.6rem;
    }

    .faq-col p {
        font-size: 0.5rem;
        font-weight: bold;
    }
    
    .faq-col a{
        text-decoration: none;
        font-size: 0.5rem;
        padding: 1% 0;
        margin: 3% 0;
        color: black;
    }

    .bar-left p {
        font-size: 0.4rem;
    }

    .social-links a {
        margin: 3%;
    }
}