/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital@1&display=swap');

.App-container {
	width: 100%;
	background-color: #E25E3E;
}

.App-header {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
}

.App-title {
	text-shadow: 2px 2px 4px #FFBB5C;
	text-align: center;
	font-size: 1.1rem;
	color: white;
}

.Nav-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}

.Nav-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.Nav-button {
	padding: 30% 50%;
	border-radius: 5px;
	background-color: #FFBB5C;
	transition:all .2s ease-out; 
	box-shadow:inset 0 -3px 0 0 #00000033,
	0 1px 0 0 #d98e20,
	0 2px 0 0 #d98e20;
	text-decoration: none;
	color: white;
}

.Nav-button:hover {
	color:#444;
}

.Nav-button:active {
	color:#222;
	box-shadow:inset 0 0 0 0,
	0px 0px 0 0 #d98e20;
}

.Nav-link {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}

@media (min-width: 601px) {

	.App-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.App-header {
		padding: 0 10%;
	}

	.Nav-right {
		width: 50%;
	}

	.App-title {
		font-size: 1.6rem;
	}

	.Nav-button {
		padding: 2% 5%;
	}
}
